.App {
  text-align: center;
  display: flex;
  justify-content: center;
}
h3{
  margin: 0;
  padding: 10px;
}


li{
  list-style: none;
  display: flex;
  justify-content: space-between;
  
}
input{
  background-color: rgb(234, 186, 240);
  border-color: blueviolet;
  margin: 10px;
}
input:focus, textarea:focus {

  outline: none;

}

button{
  margin-left: 10px;
  background-color: rgb(114, 66, 156);
  color: white;
  border: solid 1px rgb(221, 125, 125);
}
.number{
  margin-right: 10px;
}